<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog :: Login</title>
</head>
<body>
    <div class="container">
        <h1>Login Page</h1>
        <hr />   <!--have to declare an action and th declaration because with html it acts funky with thymeleaf-->
                 <!--using the @/login and sending a post request back to /login-->
        <a th:href="@{/}">Home</a>
        <form action="#"
              th:action="@{/login}"
              method="POST">
            <div>  <!--label for email-->
                <h3>Login Information Here</h3>
                <label for="email">Email</label>
                <input id="email" type="text" name="email" placeholder="Email" />
            </div>
            <div> <!--label for password-->
                <label for="password">Password</label>
                <input id="password" type="password" name="password" placeholder="Password" />
            </div> <!--and submit button-->
            <button type="submit">Login!</button>
        </form>
    </div>
</body>
</html>