<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog :: Register</title>
</head>
<body>
    <div class="container">
        <h1>Register Page</h1>
        <hr />
<!--        we have a th action defines @/>register sending this registration form to /register endpoint with the method of post-->
        <a th:href="@{/}">Home</a>
        <h2>Register New Account Here</h2>
            <form action="#"
                  th:action="@{/register}"
                  th:object="${account}"
                  method="POST">
                <div>   <!--pay attention that their is a th field declaration as *{firstName} and this is another syntax of thymeleaf to map these fields together into this object called account that we declared in the actaull form itself -->
                    <label for="firstname">First Name</label>
                    <input id="firstname" type="text" th:field="*{firstName}" placeholder="First Name"/>
                </div>
                <div>
                    <label for="lastname">Last Name</label>
                    <input id="lastname" type="text" th:field="*{lastName}" placeholder="Last Name"/>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input id="email" type="text" th:field="*{email}" placeholder="Email"/>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input id="password" type="password" th:field="*{password}" placeholder="Password"/>
                </div>
                <button type="submit">Register!</button>
            </form>
    </div>
</body>
</html>